@import "../../style/themes/default.less";
@import "../../style/mixins/index.less";
@import './mixin.less';

.@{date-picker-prefix} {
  position: relative;
  display: inline-block;
  outline: none;
  font-size: @font-size-base;
  transition: opacity .3s;

  &-input {
    width: @date-picker-input-width!important;
  }

  &-clear {
    cursor: pointer;
  }

  &-container {
    position: absolute;
    z-index: @zindex-picker;

    &.slide-up-enter.slide-up-enter-active&-placement-topLeft,
    &.slide-up-enter.slide-up-enter-active&-placement-topRight,
    &.slide-up-appear.slide-up-appear-active&-placement-topLeft,
    &.slide-up-appear.slide-up-appear-active&-placement-topRight {
      animation-name: tdSlideDownIn;
    }

    &.slide-up-enter.slide-up-enter-active&-placement-bottomLeft,
    &.slide-up-enter.slide-up-enter-active&-placement-bottomRight,
    &.slide-up-appear.slide-up-appear-active&-placement-bottomLeft,
    &.slide-up-appear.slide-up-appear-active&-placement-bottomRight {
      animation-name: tdSlideUpIn;
    }

    &.slide-up-leave.slide-up-leave-active&-placement-topLeft,
    &.slide-up-leave.slide-up-leave-active&-placement-topRight {
      animation-name: tdSlideDownOut;
    }

    &.slide-up-leave.slide-up-leave-active&-placement-bottomLeft,
    &.slide-up-leave.slide-up-leave-active&-placement-bottomRight {
      animation-name: tdSlideUpOut;
    }
  }

  &-calendar {
    position: relative;
    width: @date-picker-panel-width;
    height: @date-picker-panel-height;
    border-radius: @border-radius-base;
    border: @border-color-base @border-style-base @border-width-base;
    box-shadow: 0 1px 6px @shadow-color;
    padding: @date-picker-gap-vertial @date-picker-gap-horizontal;

    &-header {
      height: @date-picker-cell-size;
      line-height: @date-picker-cell-size;
      user-select: none;
      font-size: @font-size-base;
      position: relative;

      .@{btn-prefix} {
        padding: (@date-picker-cell-size - @font-size-base) / 2;
      }

      &-btn {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        color: @date-picker-header-font-color;
        user-select: none;
        font-size: @font-size-base;
        width: @date-picker-panel-width - @date-picker-cell-size * 2;

        &:hover {
          background: #f6f6f6;
        }

        &:active {
          background: #e5e5e5;
        }
      }
    }

    &-table {
      height: @date-picker-cell-size * 7;
      line-height: @date-picker-cell-size;
      user-select: none;
      font-size: @font-size-base - 2;

      .date-table();
      .month-table();
      .year-table();
      .time-table();

      table,th,td {
        border: 0;
      }
    }

    &-footer {
      height: @date-picker-cell-size;
      line-height: @date-picker-cell-size;
      cursor: pointer;
      text-align: center;
      color: @date-picker-header-font-color;
      user-select: none;
      font-size: @font-size-base;

      &:hover {
        background: #f6f6f6;
      }

      &:active {
        background: #e5e5e5;
      }
    }
  }
}
