@import "../../style/themes/default.less";


// Base class
.@{tooltip-prefix} {
  position: absolute;
  z-index: 100;
  display: block;
  visibility: visible;
  font-size: @font-size-base;
  line-height: @line-height-base;

  &-hidden {
    display: none;
  }

  &-placement-top,
  &-placement-topLeft,
  &-placement-topRight {
    margin-bottom: @tooltip-distance;
  }
  &-placement-right,
  &-placement-rightTop,
  &-placement-rightBottom {
    margin-left: @tooltip-distance;
  }
  &-placement-bottom,
  &-placement-bottomLeft,
  &-placement-bottomRight {
    margin-top: @tooltip-distance;
  }
  &-placement-left,
  &-placement-leftTop,
  &-placement-leftBottom {
    margin-right: @tooltip-distance;
  }
}

.@{tooltip-prefix}-root {
  display: inline-block;
}
// Wrapper for the tooltip content
.@{tooltip-prefix}-popup {
  max-width: @tooltip-max-width;
  color: @tooltip-color;
  text-align: left;
  text-decoration: none;
  background-color: @tooltip-bg;
  border-radius: @border-radius-base;
  box-shadow: @box-shadow-base;
  min-height: 34px;
}

.@{tooltip-prefix}-popup-title {

  background-color: @tooltip-title-bg;
  border-bottom: 1px solid @border-color-base;
  padding: 5px 10px;
}

.@{tooltip-prefix}-popup-content {
  padding: 8px 10px;
}

// Arrows

.@{tooltip-prefix} {
  &-arrow {
    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }

  &-arrow {
    border-width: @tooltip-arrow-outer-width;
  }

  &-arrow:after {
    border-width: @tooltip-arrow-width;
    content: "";
  }

  &-placement-top  > &-arrow,
  &-placement-topLeft  >  &-arrow,
  &-placement-topRight  >  &-arrow {
    border-bottom-width: 0;
    border-top-color: @tooltip-arrow-outer-color;
    bottom: @tooltip-distance - @tooltip-arrow-outer-width;
    &:after {
      content: " ";
      bottom: 1px;
      margin-left: -@tooltip-arrow-width;
      border-bottom-width: 0;
      border-top-color: @tooltip-arrow-color;
    }
  }
  &-placement-top  >  &-arrow {
    left: 50%;
    margin-left: -@tooltip-arrow-outer-width;
  }
  &-placement-topLeft  >  &-arrow {
    left: 16px;
  }
  &-placement-topRight  >  &-arrow {
    right: 16px;
  }

  &-placement-right  >  &-arrow,
  &-placement-rightTop  >  &-arrow,
  &-placement-rightBottom  >  &-arrow {
    left: @tooltip-distance - @tooltip-arrow-outer-width;
    border-left-width: 0;
    border-right-color: @tooltip-arrow-outer-color;
    &:after {
      content: " ";
      left: 1px;
      bottom: -@tooltip-arrow-width;
      border-left-width: 0;
      border-right-color: @tooltip-arrow-color;
    }
  }
  &-placement-right  >  &-arrow {
    top: 50%;
    margin-top: -@tooltip-arrow-outer-width;
  }
  &-placement-rightTop  >  &-arrow {
    top: 12px;
  }
  &-placement-rightBottom  >  &-arrow {
    bottom: 12px;
  }

  &-placement-bottom  >  &-arrow,
  &-placement-bottomLeft  >  &-arrow,
  &-placement-bottomRight  >  &-arrow {
    border-top-width: 0;
    border-bottom-color: @tooltip-arrow-outer-color;
    top: @tooltip-distance - @tooltip-arrow-outer-width;
    &:after {
      content: " ";
      top: 1px;
      margin-left: -@tooltip-arrow-width;
      border-top-width: 0;
      border-bottom-color: @tooltip-arrow-color;
    }
  }
  &-placement-bottom  >  &-arrow {
    left: 50%;
    margin-left: -@tooltip-arrow-outer-width;
  }
  &-placement-bottomLeft  >  &-arrow {
    left: 16px;
  }
  &-placement-bottomRight  >  &-arrow {
    right: 16px;
  }

  &-placement-left  >  &-arrow,
  &-placement-leftTop  >  &-arrow,
  &-placement-leftBottom  >  &-arrow {
    right: @tooltip-distance - @tooltip-arrow-outer-width;
    border-right-width: 0;
    border-left-color: @tooltip-arrow-outer-color;
    &:after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-color: @tooltip-arrow-color;
      bottom: -@tooltip-arrow-width;
    }
  }
  &-placement-left  >  &-arrow {
    top: 50%;
    margin-top: -@tooltip-arrow-outer-width;
  }
  &-placement-leftTop  >  &-arrow {
    top: 12px;
  }
  &-placement-leftBottom  >  &-arrow {
    bottom: 12px;
  }
}

