@import "../../style/themes/default.less";

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.@{menu-prefix} {
  color: @menu-text-color;
  &-item{
    line-height: 42px;
    height: 42px;
    font-size: 12px;
    padding: 0 16px;
    position: relative;
    cursor: pointer;
    &:hover, &-selected{
      color: @primary-color;
      a{
        color: @primary-color;
      }
    }
    a{
      text-decoration: none;
      display: block;
      color: @menu-text-color;
      &:before{
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
      }
    }
  }
  &-item-group{
    &-title{
      color: rgba(0,0,0,.43);
      font-size: 12px;
      line-height: 1.5;
      padding: 8px 16px;
    }
    .@{menu-prefix}-item{
      padding-left: 24px;
    }
  }
  &-submenu{
    &-title{
      padding: 0 16px;
      height: 42px;
      line-height: 42px;
      position: relative;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        color: @primary-color;
      }
      .tdicon{
        margin-right: 8px;
      }
    }
    &-hidden{
      display: none;
    }
  }
}
