@import '../../style/themes/default.less';

@color: #108ee9;
@fontSize: 14px;

.@{loading-prefix} {
    width: 100%;
    height: 100%;
    position: absolute;
    &-container {
        color: @color;
        position: absolute;
        left: calc(~"50% - 50px");
        top: calc(~"50% - 41px");
        width: 100px;
        height: 82px;

        &-graph {
          position: relative;
          margin: auto;
          width: 48px;
          height: 48px;
          animation: ball-spin-fade-rotate 6s infinite linear;
          font-size: 0;
          color: @primary-color;

          & > div {
            width: 12px;
            height: 12px;
            margin-top: -8px;
            margin-left: -8px;
            position: absolute;
            border-radius: 100%;
            display: inline-block;
            float: none;
            background-color: currentColor;
            border: 0 solid currentColor;
            animation: ball-spin-fade 1s infinite linear;

            &:nth-child(1) {
              top: 5%;
              left: 50%;
              animation-delay: -1.125s;
            }

            &:nth-child(2) {
              top: 18.1801948466%;
              left: 81.8198051534%;
              animation-delay: -1.25s;
            }

            &:nth-child(3) {
              top: 50%;
              left: 95%;
              animation-delay: -1.375s;
            }

            &:nth-child(4) {
              top: 81.8198051534%;
              left: 81.8198051534%;
              animation-delay: -1.5s;
            }

            &:nth-child(5) {
              top: 94.9999999966%;
              left: 50.0000000005%;
              animation-delay: -1.625s;
            }

            &:nth-child(6) {
              top: 81.8198046966%;
              left: 18.1801949248%;
              animation-delay: -1.75s;
            }

            &:nth-child(7) {
              top: 49.9999750815%;
              left: 5.0000051215%;
              animation-delay: -1.875s;
            }

            &:nth-child(8) {
              top: 18.179464974%;
              left: 18.1803700518%;
              animation-delay: -2s;
            }
          }

          @keyframes ball-spin-fade-rotate {
            100% {
              transform: rotate(360deg);
            }
          }

          @keyframes ball-spin-fade {
            0%, 100% {
              opacity: 1;
              transform: scale(1);
            }

            50% {
              opacity: .25;
              transform: scale(0.5);
            }
          }
        }

        &-text {
            font-size: 12px;
            margin: 15px 25px;
        }

        .loading-small {
            width: 32px;
            height: 32px;
            & > div {
                width: 6px;
                height: 6px;
            }
        }
        .loading-large {
            width: 64px;
            height: 64px;
            & > div {
                width: 18px;
                height: 18px;
            }
        }
    }

    &-content {
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
}
