@import '../../style/themes/default.less';

.@{message-prefix} {
    font-size: 14px;
    position: fixed;
    z-index: 1010;
    width: 100%;
    top: 16px;
    left: 0;
    pointer-events: none;

    &-notice {
        padding: 8px;
        text-align: center;
        &:first-child {
            margin-top: -8px;
        }
    }

    &-custom-content {
        padding: 8px 16px;
        border-radius: 5px;
        box-shadow: 0 2px 8px @shadow-color;

        &-info {
            background: #D6EDFE;
        }
        &-warning {
            background: #FCF2CF;
        }
        &-error {
            background: #FADBD9;
        }
        &-success {
            background: #D7E7CE;
        }
    }

    &-notice-content {
        border-radius: @border-radius-base;
        background: @component-background;
        display: inline-block;
        pointer-events: all;
    }
}

